body::before{
    width: 100%
    padding-top: 52px
    margin: 0
    display: block;
    content:'' ;
    height: 62px;
}
#boxes .card{
    min-height: 240px;
}

#instructors .img{
width: 100px;
background-color:rgb(219, 219, 219)  ;
}


/* breakpoint for medium*/
@media(min-width: 768px){
    .news-input{
    width: 50%;
}
}
